@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="box">
    <div class="text-center">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h1 class="text-white mb-4 mt-3">Log in</h1>
            <div class="container">
                <div class="row mb-4 justify-content-md-center">
                    <div class="col col-sm-12 col-md-6">
                        <input asp-for="Input.Email" class="form-control form-control-lg" autocomplete="username" placeholder="Email" aria-required="true"/>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-4 justify-content-md-center">
                    <div class="col col-sm-12 col-md-6">
                        <input asp-for="Input.Password" class="form-control form-control-lg" autocomplete="current-password" placeholder="Password" aria-required="true"/>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                </div>

                <button id="registerSubmit" type="submit" class="btn btn-md bg-white col-md-auto col-lg-2 col-sm-5 mb-4">Log in</button>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="mb-2 col-sm-12">
                    <a id="forgot-password" class="text-white text-decoration-none" asp-page="./ForgotPassword">Forgot your password?</a>
                </div>

                <div class="mb-2 mb-2 col-sm-12">
                    <a asp-page="./Register" class="text-white text-decoration-none" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                </div>

            </div>
        </form>
    </div>
    <br/>
    <div class="mb-2 mb-2 col-sm-12" style="margin: auto; text-align: center">
        <section>
            <h3 class="text-white">Use another service to log in.</h3>
            <hr class="text-white"/>
            @{
                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                    <div>
                        <p>
                            @foreach (var provider in Model.ExternalLogins)
                            {
                                <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                    @provider.DisplayName
                                    @if (provider.DisplayName == "Discord")
                                    {
                                        <img src="~/img/discord-logo.png" alt="Discord" width="50" height="50">
                                    }
                                    else
                                    {
                                        @provider.DisplayName
                                    }
                                </button>
                            }
                        </p>
                    </div>
                </form>
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}