@page
@using Microsoft.AspNetCore.Identity
@using OperationCHAN.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject SignInManager<ApplicationUser> SignInManager
@model OperationCHAN.Areas.Ticket.Pages.Create

@{
    ViewData["Title"] = "Create ticket";
}


<div class="box">
    <div class="text-center">
        <h1 class="text-white mb-4 mt-5">New ticket</h1>
        
        <div class="container">
            <form method="post" id="Forms" >
            <div class="row mb-4 justify-content-md-center">
                <div class="col col-sm-12 col-md-6">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <input asp-for="Ticket.Nickname"
                            id="nickname"
                            class="form-control form-control-lg"
                            placeholder="Name"
                            value="@Model.nickname"
                            aria-required="true"/>
                    }
                    else
                    {
                        <input asp-for="Ticket.Nickname"
                            id="nickname"
                            class="form-control form-control-lg"
                            placeholder="Name"
                            aria-required="true"/>
                    }
                  
                    <span asp-validation-for="Ticket.Nickname" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-4 justify-content-md-center">
                <div class="col col-sm-12 col-md-6">
                    
                    <textarea asp-for="Ticket.Description"
                        id="description"
                        rows="5"
                        type="text"
                        class="form-control form-control-lg"
                        placeholder="Description"
                        aria-required="true"></textarea>
                    <span asp-validation-for="Ticket.Description" class="text-danger"></span>
                </div>
            </div>

            <div class="row justify-content-md-center">
                <div class="col col-sm-12 col-md-4">
                    <input asp-for="Ticket.Room"
                           class="form-control form-control-lg"
                           list="datalistOptions"
                           placeholder="Room"
                           aria-required="true"
                           id="room">
                    <datalist id="datalistOptions">
                        @{foreach (var entry in Model.Courses)
                          {
                              <option value="@entry.CourseRoom1"/>
                              @if (@entry.CourseRoom2 != "")
                              {
                                  <option value="@entry.CourseRoom2"/>
                              }
                              @if (@entry.CourseRoom3 != "")
                              {
                                  <option value="@entry.CourseRoom3"/>
                              }
                              @if (@entry.CourseRoom4 != "")
                              {
                                  <option value="@entry.CourseRoom4"/>
                              }
                          }
                        }
                    </datalist>
                    <span asp-validation-for="Ticket.Room" class="text-danger"></span>
                </div>
            </div>
                
            <br/> 
            <button class="btn btn-md bg-white col-md-auto col-lg-2 col-sm-5 mb-4">Send</button>
            @Html.AntiForgeryToken()
            </form>
        </div>
    </div>
</div>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}