@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model OperationCHAN.Areas.Settings.Pages.Settings

<div id="timeedit" style="display:none" class="mb-4 mt-2 table-responsive">
    <table id="table">
        <form method="post" asp-page-handler="Add">
            <tr>
                <td>
                    <input asp-for="@Model.Link" style="width: 100%" placeholder="https://cloud.timeedit.net/uia/web/tp/123456789.html">
                </td>
                <td style="width:7vw">
                    <button type="submit" class="btn adButton">Add</button>
                </td>
            </tr>
            @Html.AntiForgeryToken()
        </form>
    </table>
    <div style="overflow-y: auto; max-height:40vh;">
        <table>
            @{
                foreach (var link in Model.Links)
                {
                    var l = link.CourseLink.Replace("ics", "html");
                    <form method="post" asp-page-handler="Remove">
                        <input type="hidden" value="@l" asp-for="@Model.Link" />
                        <tr>
                            <td>
                                <a href="@l" target="_blank">@l</a>
                            </td>
                            <td style="width:7vw">
                                <button type="submit" class="btn rmButton">Remove</button>
                            </td>
                        </tr>
                        @Html.AntiForgeryToken()
                    </form>
                }
            }
        </table>
    </div>
</div>